



/* nav var style */
  .body{
position: relative;
width: 1350px;
height: 5000px;
 background: rgb(0, 0, 0); } 
     



html,body{
width: 100%;
height:100% ;
   font-family:
   inter,sans-serif; 
   color:#ffffff ; 
}
header{

    width: 100%;
    background: radial-gradient(farthest-corner,#313131,#111111);
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 150px;
cursor: pointer;
}
.logo{
font-size: 2.5rem;
font-weight: 800;
font-style: italic;
color: #e6533c;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    border:1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 15px 10px 10px;
    gap: 40px;
    
}
.navbar h4{
font-size: 1rem;
font-weight: 600;
color: #ffffff;
}
.menu{
    display: none;
}
.home{
    border-radius: 12px;
padding: 10px 10px;
background-color: #e6533c;
}
.header{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 150px;
padding-right: 150px;
}
.right-header{
justify-content: center;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.right-header h1{
font-size: 5rem;
font-weight: 800;
color: #ffffff;
margin-bottom: 30px;
line-height: 120%;
}
#span{
    line-height: 120%;
    margin-bottom: 30px;
    font-size: 5rem;
    font-weight: 800;
    font-family: 'Parisienne', cursive;

}
.right-header p{
font-size: 1rem;
letter-spacing: 0.5px;
color: rgba(255, 255, 255, 0.5);
margin-bottom: 24px;
line-height: 24px;
}
.right-header-btn{
display: flex;
gap: 14px;
}
.first-btn,.second-btn{
padding: 16px 40px;
border-radius: 42px;
color: #ffffff;
border: 1px solid #ffffff;
background-color: #111111;
font-size: 1rem;
font-weight: 600;
line-height: 21px;
background-color: transparent;
}
.btn-color{

    background-color: #e6533c;
    border: none;
}
.left-header{
    position: relative;
    height: 700px;
}
.box1{
    left: 190px;
top: 30px;
    width: 170px;
background-color: rgba(255, 255, 255, 0.1);
height: 5rem;
border-radius: 12px;
display: flex;
flex-direction: column;
position: absolute;
align-items: center;
justify-content: center;
margin-top: 100px;
margin-right: -50px;
z-index: 2;
border: 1px solid rgba(255, 255, 255, 0.1);
}
.box1 h4{
font-size: 2rem;
margin-top: 5px;
}
.box1 p{
font-size: 1rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.4);
position: absolute;
margin-top: 50px;
}
.box2{
width: 170px;
height: 80px;
position: absolute;
margin-right: 500px;
align-items: center;
justify-content: center;
gap: 10px;
background-color: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.1);
filter: blur(100);
border-radius: 12px;

}
.icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #e6533c;
    margin-top: 10px;
}
.box2 h4{
color: #ffffff;
font-size: 1.5rem;
font-weight: 900;
margin-bottom: 3px;
margin-top: 5px;
position: absolute;
margin-left: 50px;
}
.box2 p{ 
font-size: 1rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.4);
position: absolute;
margin-top: 45px;
margin-left: 35px;
}


/* section 2 start */
.havits-section{
align-items: center;

}
.section-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;

}
.section-title-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.img-title-1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;


}
.img-title{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    width: 230px;
}
.third-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    

}
.img-container{
display: flex;
justify-content: center;
gap: 40PX;

}
.img-box{
width: 231px;
height: 230px;
display: flex;
flex-direction: column;
text-align: center;
gap: 20px;
padding: 30p;
}
.img-box img{
border-radius: 50%;
width: 230px;
}
/* section -3-run-start */
.run-box{
    width: 443px;
    height: 350px;
    left: 54px;
    top: 40px;
    justify-content: center;
text-align: center;
align-items: center;

margin-top: 30px;
}
.extra-run{
margin-top: 210px;



}
.running-container{
    display: flex;
    width: 1250px;
    height: 400px;
    border-radius: 18px;
    gap: 300px;
align-items: center;
margin-top: px;
padding: 10px auto;

background: rgb(34, 34, 34);
margin: 100px auto;
}
.img-run{
width: 443px;
height: 288px;
top: 30px;
margin: 2px auto;
}

.section-3-title{

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;


}
body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    margin: 0;
    padding: 20px;
}
/* .....----section four BMI start....--- */
.BMI-section{

position: relative;
width: 1505px;
height: 386px;
position: relative



;
}
.table-box{
width: 316px;
height: 210px;
left: 189px;
right: 1006px;
top: 138px;
bottom: 32px;
align-items: flex-start;
}
.Bmi-calculator{
width:316px ;
height: 216px;
}
.bmi-container{

    display: flex;
    gap: 300px;
    width: 1200px;
height: 386px;
background: rgb(34, 34, 34);
text-align: center;
margin-left: 60px;
margin-top: 70px;

}
.table-box{

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;

}
 .Bmi-chart{
margin-left: 80px;
margin-top: 40px;

 }



th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    border-top:1px solid #333;
    border-left: 1px solid #333;
}

th {
    color: white;
 }

form {
    display: flex;
    flex-direction: column;
}
.bmi-form{  
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 15px;
margin: 0 auto;
padding: 20px;
}
.bmi-form input,.bmi-form select{
padding: 10px;
border-radius: 7px;
border:none;
background-color: #333;
color: rgba(255, 255, 255, 0.6);
font-size: 16px;
text-align: left;
grid-column: auto;
}
#activity{
grid-column:span 2 / auto ;
}
.calculation{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding:16px 40px ;
gap: 10px;
width: 220px;
height: 55px;
background:rgb(230, 83, 60); 
border-radius: 40px;
flex-grow: 0;
color:rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600px;
}
/* -------End------------ */
.hedline{
text-align: center;
margin-top: 50px;
color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    width: 1160px;
    height: 300px;

}
.team-sections{

width: 1060px;
height: 300px
}
.motivation{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;  

}



.image-container{

background: rgb(34, 34, 34);
margin-top: 0px; 
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
overflow: hidden;
padding: 32px;
gap: 30px;
border-radius: 18px;
margin-bottom: 160px;

}
 .imagoo{
     
      width: 350px;
    height: 432px; 
    border-radius: 18px;
    overflow: hidden;
    position: relative;
transition: all 0.35s;
cursor:pointer;
border-radius: 18px;

background: rgba(0, 0, 0, 0.2),url(image);
} 
.imagoo img{
width: 100%;
height: 100%;
object-fit: cover;
}
.imagoo:hover{
    transform: scale(1.05);

}
.imagoo::before{
position: absolute;
top: 0px;
left:0px;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,20%);
z-index: 1;
}
.imagoo h3{
    bottom: 57px;
position: absolute;
z-index: 1;
left: 32px;
}
.imagoo p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
bottom: 16px;
position: absolute;
left: 32px;
}

/*-------------- .footer style -------*/
.footer-container{
margin-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.footer-section{
    
    width: 1350px;
height: 386px;
background: rgb(34, 34, 34);
margin-top: 100px;

}
.title-description-footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;  
    margin-top: 30px;  
}
.fitness{

    color: #e6533c
    ;
}
.title-description{
    color: rgba(255, 255, 255, 0.5);

}
.img-box img{
    width: 100%;
}
.banner{

    
    width: 1300px;
    height: 800px;
}
     
 @media screen and (max-width: 576px) { 

/* 
 ------------Banner section responsive stylee------  */
     .nav{
display: block;
flex-direction: column;
text-align: center;
    }
  

  nav{
    padding: 50px 30px;
  }
  .navbar{
    display: none;
  }
  .menu{
    display: flex;
  }
  .header{
flex-direction: column;
padding-left: 30px;
padding-left: 30px;

  }
  .right-header{
justify-content: center;
align-items:flex-start;
flex-direction: column;
display: flex;

  }
  .right-header h1{
font-size: 50px;
margin-bottom: 30px;

  }
.right-header-btn{
display: flex;
gap: 14px;

  }
  .first-btn,.second-btn{
padding: 10px 20px;
border-radius: 35px;
font-size: 14px;
line-height: 20px;



  }
  .box1{
height: 70px;
width: 150px;
position: absolute;
top:15%;
right: 0px;
  }
  .box2{
height: 80px;
width: 150px;
position: absolute;
top: 50%;
left: 0px;

  }

/* ----Havits section responsive style--- */


 .section-title,.section-title-description{

    text-align: left;
}
.img-container{
gap: 200px;
    flex-direction: column;
    margin-left: 120px;
}

/* 
----run extra mile responsive stylee----- */


.running-container{
    flex-direction: column;
    gap: 0px;
    width: 100%;
    height: 100%;
    gap: 20px;
        }
        
    .run-box{
    
    text-align: left;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 
    10px;
    }

    
  /* ---BMI section responsive-- */
 .bmi-container{
    flex-direction: column;
    gap: 0px;
}
.Bmi-chart{
    
    text-align: left;
    justify-content: flex-start;
}
    .Bmi-calculator{
align-items: center;
    justify-content: flex-start;
    justify-content: center;
    margin-top: 45px;
    }  

/* -----Team section responsive style----- */

     .image-container{
        margin-top: 0px;
        grid-template-columns:repeat(1,1fr);
    }
    .imagoo{
justify-content: center;
margin-left: 40px;

    }
    .hedline{
text-align: left;

margin-top: 400px;

    }
    
.team-sections{
    width: 50%;
}
    

/* ---footer section responsive style---- */

.footer-section{

    width: 400px;
    height: 700px;
}

    .footer-container{
flex-direction: column;
margin-left: 20PX;
    }
   .title-description-footer{
    text-align: left;
    margin-left: 50px;
   }
     
 }